:root {
  color: #26414d;
  background-color: #1c1c1c;
  font-family: "Handjet", sans-serifs;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
